@font-face {
  font-family: "Futuralightc";
  src: url("../fonts/futuralightc.woff2") format("woff2"), url("../fonts/futuralightc.otf") format("otf");
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Futuralightc', sans-serif;
  width: 100%;
  margin: 0 auto;
}

input, button, textarea {
  font-family: 'Futuralightc', sans-serif;
  outline: none;
}

button {
  font-family: 'Futuralightc', sans-serif;
  cursor: pointer;
}

button:focus {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.body__wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #BAADFCFF, #816FDBFF);
}

.crypto__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.crypto__main {
  display: flex;
  width: 1200px;
  height: 800px;
  padding: 40px;
  border-radius: 50px;
  background: linear-gradient(145deg, #201C3FFF, #17142FFF);
  box-shadow: 0 10px 30px #181531;
  color: #fff;
}

.crypto__left {
  margin-right: 50px;
}

.crypto__right-top {
  display: flex;
  min-height: 290px;
  margin-bottom: 40px;
}

.overview__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.overview__main {
  display: flex;
  align-items: center;
  width: 430px;
  height: 220px;
  border-radius: 40px;
  padding: 50px 30px;
  background-color: #251F4BFF;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px #16132EFF;
}

.overview__total {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border: 5px solid #211C44FF;
  background-color: #2A2658FF;
  border-radius: 50%;
  font-size: 25px;
  z-index: 1;
  text-shadow: 0 0 2px #fff;
}

.overview__total-wrapper {
  position: relative;
  margin-right: 40px;
}

.overview__total-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: conic-gradient(#EF6E5BFF, #212677FF, #583FBFFF);
}

.overview__total-text {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.overview__total-image {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  z-index: 1;
}

.overview__max, .overview__min {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-bottom: 5px;
  text-shadow: 0 0 2px #fff;
}

.overview__max:before, .overview__min:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  background-color: #387c00;
  border-radius: 50%;
  box-shadow: 0 0 5px #387c00;
}

.overview__max-title, .overview__min-title {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.overview__min {
  margin-bottom: 0;
}

.overview__min:before {
  background-color: #9e251d;
  box-shadow: 0 0 5px #9e251d;
}

.overview__min-title {
  margin-bottom: 0;
}

.currency {
  width: 160px;
  height: 235px;
  margin-top: auto;
  margin-right: 50px;
}

.currency__title {
  font-size: 20px;
  margin-bottom: 30px;
}

.currency__content {
  display: flex;
  flex-wrap: wrap;
}

.currency__single {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 10px;
  padding: 16px;
  background-color: #251F4BFF;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 20px #14132b;
}

.currency__single:hover {
  transform: scale(1.1);
  background-color: #2B275AFF;
}

.cryptos {
  margin-top: auto;
}

.cryptos__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.cryptos__content {
  display: flex;
}

.cryptos__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: 200px;
  padding: 20px 10px;
  margin-right: 30px;
  background-color: #251F4BFF;
  border-radius: 35px;
  box-shadow: 0 0 30px #14132b;
  cursor: pointer;
  transition: 0.5s;
}

.cryptos__single:hover {
  transform: scale(1.1);
  background-color: #5C39DBFF;
}

.cryptos__single:hover .cryptos__image {
  box-shadow: 0 0 10px #f0b785;
}

.cryptos__single:hover .cryptos__image--eth {
  box-shadow: 0 0 10px #E25287FF;
}

.cryptos__single:hover .cryptos__image--xrp {
  box-shadow: 0 0 10px #f78668;
}

.cryptos__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  margin-bottom: 20px;
  border: 2px solid #f0b785;
  border-radius: 18px;
  transition: 0.5s;
}

.cryptos__image--eth {
  border: 2px solid #E25287FF;
}

.cryptos__image--xrp {
  border: 2px solid #f78668;
}

.cryptos__img {
  width: 30px;
  height: 30px;
}

.cryptos__name {
  margin-top: auto;
  font-size: 18px;
  font-weight: 600;
}

.cryptos__difference {
  display: flex;
  align-items: center;
}

.cryptos__difference-value {
  margin-right: 5px;
  font-weight: 600;
}

.cryptos__difference-arrow {
  width: 15px;
  height: 15px;
}

.exchange {
  position: relative;
  width: 430px;
  height: 400px;
  background-color: #251F4BFF;
  border-radius: 40px;
  box-shadow: 0 10px 20px #16132eff;
}

.exchange__block {
  height: 50%;
  padding: 20px;
}

.exchange__block:nth-of-type(2) {
  background-color: #292655FF;
  border-radius: 40px;
}

.exchange__input, .exchange__main-input {
  display: block;
  background-color: #221D45FF;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.exchange__input {
  width: 100px;
  height: 30px;
  padding: 5px;
  margin-bottom: 30px;
}

.exchange__main-input {
  width: 320px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
}

.exchange__info {
  text-align: center;
}

.exchange__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 7px solid #251F4BFF;
  border-radius: 50%;
  background-color: #4B56FDFF;
  z-index: 1;
}

.exchange__img {
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
}

.chart {
  width: 660px;
}

.chart-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.chart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin-right: 10px;
  padding: 7px 10px;
  border: none;
  background-color: #251F4BFF;
  border-radius: 20px;
  font-size: 18px;
  color: #63608FFF;
  font-weight: 600;
  box-shadow: 0 0 30px #14132b;
  transition: 0.5s;
}

.chart-btn:hover {
  background-color: #2B2759FF;
}
